
*{
    margin: 0;
    padding: 0;

}
.navBar{
    display:flex;
    justify-content:space-between;
    background-color:#c1ff72;
  }
  
  a{
    text-decoration:none;
    color:black
  }
  .bar{
    margin-top: 2rem;
  }
  .bar:hover{
  text-decoration: underline;
  }
  #right{
    width:53%;
    display:flex;
    gap:1.5rem; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  #btn{
    margin:1rem;
    padding:0.5rem;
    height:40px;
    width:90px;
    font-size: 12pt;
    border-radius: 8px;
    background-color: orange;
    border:solid black;
    border-width:2px;
  }
  #logo{
    margin-left:1rem; 
  }

.bio{
    box-shadow: 0 0 1px rgb(176, 175, 175);
    margin:2rem;
    background:white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

h1 {
    margin: 20px;
    text-align: center;
    padding:10px;
    background-color: lightgreen;
    font-size: 2.5rem;
    color:rgb(36, 1, 1);
    box-shadow: 0 0 2px rgb(36, 1, 1);
    font-family: 'Times New Roman', Times, serif;
}
p {
    max-width: 800px;
    text-align: justify;
    margin: 20px;
    font-size: 14pt;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-container {
    max-width: 800px;
    width: 90%;
    margin: 20px 0;
}
.image-container img {
    width: 100%;
    border-radius: 8px;
}
.chart-container {
    width: 90%;
    max-width: 800px;
    margin-bottom: 40px;
}