body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    font-size: 12px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

/* header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

.resource-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.resource {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    max-width: 300px;
    text-align: center;
    transition: transform 0.2s;
}

.resource:hover {
    transform: scale(1.05);
}

.resource img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    max-width: 100%;
    height: auto;
}

.resource h2 {
    font-size: 1.5em;
    margin: 15px 0;
}

.resource p {
    padding: 0 15px 20px;
    font-size: 1em;
    color: #555;
}

 */

 header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

.resource-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.resource {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    max-width: 300px;
    text-align: center;
    transition: transform 0.2s;
}

.resource:hover {
    transform: scale(1.05);
}

.resource img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    max-width: 100%;
    height: auto;
}

.resource h2 {
    font-size: 1.5em;
    margin: 15px 0;
}

.resource p {
    padding: 0 15px 20px;
    font-size: 1em;
    color: #555;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.nav-logo {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

